@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--var-poppins);
}

.hover-effect {
  animation-name: top-to-bottom;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes top-to-bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(80%);
  }
}

.animation {
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-reverse-spin {
  animation: reverse-spin 1s linear infinite;
}

@keyframes dropdownMenu {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.dropdownAnimation {
  animation: dropdownMenu 0.5s forwards ease-in;
}
