@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--var-poppins);
}

.hover-effect {
  animation-name: top-to-bottom;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes top-to-bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(80%);
  }
}
