@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--var-poppins);
}

.hover-effect {
  animation-name: top-to-bottom;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes top-to-bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(80%);
  }
}

.animation {
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-reverse-spin {
  animation: reverse-spin 1s linear infinite;
}

@keyframes dropdownMenu {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.dropdownAnimation {
  animation: dropdownMenu 0.5s forwards ease-in;
}

.animate-leftbox {
  animation: fadeleftin forwards 1.5s ease-in;
}

@keyframes fadeleftin {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animate-right1box {
  animation: fadetopin forwards 1.1s ease-in;
  animation-delay: 300ms;
}

@keyframes fadetopin {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-right2box {
  animation: fadebottomin forwards 1.1s ease-in;
  animation-delay: 600ms;
}

@keyframes fadebottomin {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
